* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #111827;
}

.login-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 360px;
  background: white;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.12);
}

.login-card h1 {
  margin: 0 0 8px;
  text-align: center;
}

.login-card p {
  text-align: center;
  color: #6b7280;
  margin-bottom: 24px;
}

label {
  display: block;
  margin-top: 14px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: 0;
  border-radius: 10px;
  background: #b91c1c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #991b1b;
}

.alert {
  padding: 10px;
  background: #fee2e2;
  color: #991b1b;
  border-radius: 8px;
  margin-bottom: 12px;
}.topbar {
  background: #991b1b;
  color: white;
  padding: 20px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar h1 {
  margin: 0;
}

.topbar span {
  font-size: 14px;
  opacity: 0.8;
}

.topbar-actions {
  display: flex;
  gap: 10px;
}

.logout-btn {
  background: white;
  color: #991b1b;
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding: 24px;
}

.stats {
  margin-bottom: 24px;
}

.stat-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}

.stat-card p {
  font-size: 28px;
  margin: 10px 0 0;
  font-weight: bold;
}

.orders-area {
  display: grid;
  gap: 18px;
}

.order-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  background: #fee2e2;
  color: #991b1b;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: bold;
}

.order-info {
  margin-top: 14px;
}

.order-info p {
  margin: 8px 0;
}

.order-actions {
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.empty {
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
}

.divider {
  border-top: 1px dashed #9ca3af;
  margin: 12px 0;
}

.item-box {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-family: Arial, sans-serif;
}